.form-input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  margin: 20px;

  small {
    display: inline-block;
    max-width: 350px;
  }

  .form-input-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
}
