.form-input-group-container {
  display: block;
  text-align: left;

  small {
    display: inline-block;
    max-width: 350px;
  }
}

.form-input-group {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px;
}
